*.exe
installer-build/
3Di-additions/ms-windows/profiles/default/python/plugins/ThreeDiToolbox/
3Di-additions/ms-windows/profiles/default/python/plugins/threedi_models_and_simulations/
3Di-additions/ms-windows/profiles/default/python/plugins/ThreeDiCustomizations/