mirrors-lst
	http://osgeo4w-oslandia.com/mirror/;oslandia;France;Paris
	http://download.osgeo.org/osgeo4w/;OSGeo;USA;California
	http://www.norbit.de/osgeo4w/;norBIT GmbH;Germany;Niedersachsen
window-placement
	44,0,0,0,0,0,0,0,1,0,0,0,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255,0,0,0,98,0,0,0,201,4,0,0,163,2,0,0
last-mode
	Advanced
last-mirror
	http://osgeo4w-oslandia.com/mirror/
net-method
	Direct
last-cache
	C:\osgeo4w_packages
last-menu-name
	OSGeo4W
